{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Header/navbar -->
<div class="row">
	<div class="header2">
		<div class="col-test-1">
			<img src="{% static 'home/images/logo-real.png' %}" id="Logo" alt="logo" class="logo">
		</div>
		<div class="col-test-2" style="background-image: url('{% static 'home/images/botany/header.jpg' %}'); background-size: contain;">
			<ul>
				<li><a href="/" class="circle-bg">Home</a></li>
				<li><a href="blog-list" class="circle-bg">Blog Posts</a></li>
				<li><a href="#" class="circle-bg">Gallery</a></li>
				<li><a href="about-me" class="active circle-bg">About Me</a></li>
			</ul>
		</div>
	</div>	
</div>

<div>
	<h1>About me dummy data</h1>
</div>

{% endblock content %}