{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>LadyDovahkiin</title>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{% static 'home/style.css' %}">

	</head>

	<body>
		<!-- Navbar here -->
		<div class="header" style="border-bottom: double;">
			<div class="row">
				<h1 class="directives" style="margin-left: 58%;">Home</h1>
				<h1 class="directives">About Me</h1>
				<h1 class="directives">Blog Posts</h1>
				<h1 class="directives">Gallery</h1>
			</div>
			<div class="sidebar" style="border-right: double;">
				<img src="{% static 'home/images/mylogo.png' %}" id="Logo" alt="logo" class="logo">
			</div>
		</div>


		<div class="content">
		{% block content %}
		<!-- Content of other html files goes here -->
		{% endblock content %}
		</div>

		<!-- Footer here -->

	</body>
</html>