{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>LadyDovahkiin</title>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{% static '/home/style.css' %}">

	</head>

	<body>
		<style type="text/css">
			 body {
			 	/*
				background-image: url('{% static 'home/images/blog-background.jpg' %}');
				background-size: cover;
				*/
				background-color: #FDFAF1;
			}
		</style>



		<div class="content">
		{% block content %}
		<!-- Content of other html files goes here -->
		{% endblock content %}
		</div>

		<!-- Footer here -->

	</body>
</html>