{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Header/navbar -->
<div class="row">
	<div class="header2">
		<div class="col-test-1">
			<img src="{% static 'home/images/logo-real.png' %}" id="Logo" alt="logo" class="logo">
		</div>
		<div class="col-test-2" style="background-image: url('{% static 'home/images/botany/header.jpg' %}'); background-size: contain;">
			<ul>
				<li><a href="/" class="circle-bg">Home</a></li>
				<li><a href="blog-list" class="active circle-bg">Blog Posts</a></li>
				<li><a href="#" class="circle-bg">Gallery</a></li>
				<li><a href="about-me" class="circle-bg">About Me</a></li>
			</ul>
		</div>
	</div>	
</div>

<!-- Main body -->
<div class="post-list">
	{% for post in post_list %}
	<div class="post" style="margin-bottom: 25px; background-image: url('{% static 'home/images/botany/post-background.jpg' %}'); background-size: cover; opacity: 0.8;">
		<h1 class="post-title">{{ post.title }}</h1>
		<h4>Posted: {{ post.updated_on }}</h4>
		<p>&emsp;&emsp;{{post.content|slice:":250"}} ... <a href="{% url 'post_detail' post.slug %}">Read More </a></p>
	</div>
	{% endfor %}
</div>

{% endblock content %}