{% extends "base.html" %}
{% load static %}

{% block content %}
		<!-- Navbar here -->
		<div class="header" style="border-bottom: double;">
			<div class="row">
				<a href="/" class="active">Home</a>
				<a href="#" class="directives">Blog Posts</a>
				<a href="#" class="directives">Gallery</a>
				<a href="#" class="directives">About Me</a>
			</div>
			<div class="sidebar" style="border-right: double;">
				<img src="{% static 'home/images/mylogo.png' %}" id="Logo" alt="logo" class="logo">
			</div>
		</div>



<div class="post-list">
	{% for post in post_list %}
	<div class="post" style="margin-bottom: 25px">
		<h1 class="post-title">{{ post.title }}</h1>
		<h4>Posted: {{ post.updated_on }}</h4>
		<p>&emsp;&emsp;{{post.content|slice:":250"}} ... <a href="{% url 'post_detail' post.slug %}">Read More </a></p>
	</div>
	{% endfor %}
</div>

{% endblock content %}