/* base.html stylings */
.header {
	height: 20%;
	width: 100%;
	position: fixed;
	left: 0;
    right: 0;
    top: 0;
    background-color: #FFECF9;
    display: inline;
}

.circle-bg {
	border-radius: 50%;
}

.col-header-1 {
	float: left;
	width: 40%;
}

.col-header-2 {
	float: left;
	width: 60%;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
	float: left;
}

li a {
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	display: block;
	padding: 50px;
}

li a.active {
	background-color: #E776AB;
	color: white;
}

li a:hover {
	background-color: #FF99C8;
	color: white;
}

.logo {
	height: 150px;
}

.sidebar {
	height: 100%;
	width: 150px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #FFECF9;
}

.content {
	margin-top: 200px;
	padding-right: 50px;
	padding-left: 5px;
	margin-left: 50px;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family:Trebuchet MS, sans-serif;
	color: #43464B;
}

/* Home stylings */
.row {
	display: flex;
}

.col-1 {
	float: left;
	width: 60%;
	height: 50%;
}

.col-2 {
	float: left;
	width: 25%;
}

.profile {
	border-radius: 25%;
	height: 600px;
}

.home-div {
	background-color: rgba(211,211,211, 0.15);
	border: solid;
	border-radius: 15%;
	padding: 30px;
	text-align: center;
}




/* post list stylings */
.post {
	background-color: rgba(211,211,211, 0.2);
	border: solid;
	border-color: gray;
	border-radius: 25px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 1px;
}

.post-title {
	text-align: center;
	text-decoration: underline gray;
}